<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action method="POST" th:object="${findPasswordForm}">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" name="username" id="username" class="form-control" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" name="email" id="email" class="form-control" th:field="*{email}">
        </div>
        <button type="submit" class="btn btn-primary">찾기(임시 비밀번호 이메일 발송)</button>
    </form>
</div>
</html>