<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/member/modifyPassword}" method="post" th:object="${memberModifyPasswordForm}">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="oldPassword" class="form-label">이전 비밀번호</label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" th:field="*{oldPassword}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">새 비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" th:field="*{password}">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">새 비밀번호 확인</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" th:field="*{passwordConfirm}">
        </div>
        <button type="submit" class="btn btn-primary" id="modifyButton">수정</button>
    </form>
    <script>
        window.onload = () => {
            document.getElementById('modifyButton').addEventListener('click', (e) => {
                const pwd = document.getElementById("password");
                const pwdConfirm = document.getElementById("passwordConfirm");
                if(pwd.value.trim() != pwdConfirm.value.trim()) {
                    alert("새 비밀번호가 일치하는지 확인해주세요.");
                    pwdConfirm.select();
                    e.preventDefault();
                }
            });
        }
    </script>
</div>
</html>