<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/join}" th:object="${memberRegisterForm}" method="post">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" id="pwd" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" id="pwdConfirm" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" id="enrollButton">회원가입</button>
    </form>

    <script>
        window.onload = () => {
            document.getElementById('enrollButton').addEventListener('click', (e) => {
                const pwd = document.getElementById("pwd");
                const pwdConfirm = document.getElementById("pwdConfirm");
                if(pwd.value.trim() != pwdConfirm.value.trim()) {
                    alert("비밀번호를 확인해주세요.");
                    pwdConfrim.select();
                    e.preventDefault();
                }
            });
        }
    </script>
</div>
</html>